# editor
.idea

# frontend
/node_modules
/assets/jspm_packages/*/**
/public/assets/
/public/system/
/assets/**/*.map
/vendor/assets/components/

# random
routes.txt

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

/config/application.yml
/config/application_production_local.yml

#
bin/scss-lint
