- if @latest_releases.count > 0
  section
    h2 Latest releases
    - @latest_releases.each do |release|
      article
        h3 = release.title

/HMRL039
/BERNAYS PROPAGANDA
/Politika
/lp / cd / download
/release date: 14.03.2016
/Buy CD via:
/Moonlee Store
/Buy LP via:
/Moonlee Store
/ TODO: merge together with upcoming releases