- if @upcoming_releases.count > 0
  h2 Upcoming releases
  ul
    - @upcoming_releases.each do |release|
      li = release.title

/HMRL039
/BERNAYS PROPAGANDA
/Politika
/lp / cd / download
/release date: 14.03.2016
/Buy CD via:
/Moonlee Store
/Buy LP via:
/Moonlee Store