$color-black: #000;
$color-blue: #9ea8d5;
$color-gold: #ffd448;
//$color-gold: #ffd600;
$color-gorse: #ffed72;
$color-green: #649e49;
$color-limed-spruce: #253237;
$color-white: #fff;
$color-buttery-white: #fffde9;
$color-error-red: #c00;
$color-summer-green: #93b99b;
// TODO: other blue 23a0f0 50% opacity
