@import 'font-awesome';
@import 'colors.scss';

body {
  color: $color-limed-spruce;
}

a,
a:active {
  color: $color-limed-spruce;
  text-decoration: none;
}

a:hover {
  color: $color-limed-spruce;
}

h2 {
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

section {
  overflow: auto;
}

.link-button {
  border: 5px solid $color-limed-spruce;
  box-sizing: border-box;
  color: $color-limed-spruce;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 10px;
  text-transform: uppercase;
}

.icon-white {
  color: $color-white;
}
