# For example, setting:
# MOONLEE_POSTGRESQL_USERNAME: 'postgres'
# makes 'postgres' available as ENV["MOONLEE_POSTGRESQL_USERNAME"]

# Database
MOONLEE_POSTGRESQL_HOST:
MOONLEE_POSTGRESQL_PORT:
MOONLEE_POSTGRESQL_DATABASE:
MOONLEE_POSTGRESQL_USERNAME:
MOONLEE_POSTGRESQL_PASSWORD:

# Api
SONGKICK_API_KEY:

# Application
SECRET_KEY_BASE:
