= render partial: 'records/shared/slider', locals: { slides: @slides }
= render partial: 'records/shared/news'
= render partial: 'records/shared/latest_releases'
= render partial: 'records/shared/upcoming_events'

/ TODO: rethink the logic of upcoming, fresh and latest releases