= render partial: 'records/shared/posts',
         locals: { title: "Moonlee's News", posts: @news, more_button: true }
= render partial: 'records/shared/releases_latest',
         locals: { title: 'Latest Releases', releases: @latest_releases, more_button: true }
= render partial: 'records/shared/events',
         locals: { title: 'Upcoming Shows', events: @upcoming_events, more_button: true }
  /TODO: store items
  /= render partial: 'records/shared/store_items',
  /         locals: { title: 'New Stuff In Store', items: [], more_button: true }
