.cover-header {
  background: no-repeat center center;
  background-size: cover;
  height: 500px;
  left: 0;
  position: relative;
  top: 74px;
  width: 100%;

  .section-title {
    bottom: 50px;
    color: $color-white;
    left: 11%;
    padding: 0;
    position: absolute;
    //text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
    //font-weight: bold;
  }

  .bandcamp-player {
    background-position: center 145px;
    position: absolute;
    right: 150px;
    top: 120px;
  }
}
