.cover-header {
  background: no-repeat center center;
  background-size: cover;
  height: 500px;
  left: 0;
  position: relative;
  top: 74px;
  width: 100%;

  .section-title {
    //TODO: adjust
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
  }

  .bandcamp-player {
    background-position: center 145px;
    position: absolute;
    right: 150px;
    top: 120px;
  }
}
