.cover-header {
  background: no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  height: 550px;
  position: relative;
  top: 75px;

  .section-title {
    bottom: 50px;
    color: $color-white;
    left: 11%;
    padding: 0;
    position: absolute;
    //text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
    //font-weight: bold;
  }

  .page-section {
    &.narrower {
      padding: 0 11%;
    }
  }

  .bandcamp-player {
    background-position: center 145px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  &.cover-header-post {
    margin: 0 11%;
    padding: 0 11%;
  }
}

@include respond-to(small) {
  .cover-header {
    height: 350px;
    top: 54px;

    &.cover-header-release {
      display: none;
    }
  }
}
