.pagination {
  margin-top: 50px;
  text-align: center;

  .page {
    margin-right: 10px;
  }

  .first {
    display: none;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  .last {
    display: none;
  }
}
