.slider {
  list-style-type: none;
  margin: 0;
  min-height: 650px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;

  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    width: 100%;
    z-index: 2;

    &.active {
      opacity: 1;
      z-index: 3;
    }
  }

  .slider-title {
    color: $color-white;
    position: absolute;
    text-align: center;
    top: 65%;
    width: 100%;
  }

  .slider-control {
    @include vertical-align(absolute, 50px);
    background: $color-limed-spruce;
    display: block;
    height: 100px;
    width: 125px;
    z-index: 10;
  }

  .slider-arrow {
    @include vertical-align(absolute, 15px);
    border-bottom: 5px solid $color-gold;
    border-right: 5px solid $color-gold;
    height: 30px;
    width: 30px;

    &.slider-arrow-previous {
      right: 0;
      transform: rotate(135deg);
    }

    &.slider-arrow-next {
      left: 0;
      transform: rotate(-45deg);
    }
  }

  .slider-control-previous {
    left: -100px;
  }

  .slider-control-next {
    right: -100px;
  }

  .slider-navigation {
    bottom: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;

    li {
      border: 5px solid $color-limed-spruce;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      height: 28px;
      margin-right: 20px;
      width: 28px;

      &.active {
        background-color: $color-white;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

@include respond-to(small) {
  .slider {
    min-height: 450px;
  }
}

@include respond-to(medium) {
  .slider {
    min-height: 550px;
  }
}

@include respond-to(large) {
  .slider {
    min-height: 650px;
  }
}
