$skinLogo: image-url('base/moonlee-logo.svg') no-repeat;

.site_title {
  -webkit-background-size: 302px 40px !important;
  background-size: 302px 40px !important;
  padding-left: 80px !important;
}

.cke_chrome {
  overflow: hidden;
  width: 79.5% !important;
}

.ui-sortable-handle {
  cursor: move;
}
