@import 'normalize-css/normalize';
@import 'base/mixins.scss';
@import 'base/variables.scss';
@import 'base/colors.scss';
@import 'base/globals.scss';
@import 'components/slider.scss';
@import 'records/events.scss';
@import 'records/posts.scss';
@import 'records/releases.scss';
@import 'records/store.scss';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i';

//TODO: move general stuff to somewhere else???

body {
  background-color: $color-gold;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0 50px;
}

.container-main {
  background-color: $color-white;
  margin: 0 -50px;
  padding: 0 50px 100px;

  section {
    margin-bottom: 100px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.page-header {

  .nav-container {
    height: 75px;

    .logo {
      float: left;
    }

    .header-nav-opener {
      float: right;
      font-size: 12px;
      font-weight: bold;
      height: 100%;
      position: relative;
      text-transform: uppercase;

      &:hover span {
        color: $color-white;
      }

      &:hover svg {
        fill: $color-white;
      }

      .opener-text {
        @include vertical-align(relative, 6px);
        color: $color-limed-spruce;
        float: left;
        font-size: 12px;
        margin-right: 10px;
      }

      .opener-icon {
        @include vertical-align(relative, 23px);
        fill: $color-limed-spruce;
        height: 46px;
        width: 46px;
      }
    }

    .header-nav {
      display: none;
      position: absolute;
      right: 0;
      top: 0;

      &.active {
        display: block;
      }
    }
  }
}

.section-heading {
  position: relative;

  .section-title {
    color: $color-limed-spruce;
    padding: 75px 0;
    text-align: center;
    //TODO: adapt for smaller screens
  }
}

.page-footer {

}

@include respond-to(small) {
  // TODO: only on small
}

@include respond-to(medium) {
  // TODO: only on medium
}

@include respond-to(large) {
  // TODO: only on large
}
