/*
*= require_self
*= require normalize-css/normalize
*= require hover.css/css/hover-min
*/

@import 'base/mixins.scss';
@import 'base/variables.scss';
@import 'base/globals.scss';
@import 'base/grids.scss';
@import 'components/slider.scss';
@import 'components/newsletter.scss';
@import 'components/social.scss';
@import 'components/cover_header.scss';
@import 'components/custom_header.scss';
@import 'components/pagination.scss';
@import 'records/_header.scss';
@import 'records/_footer.scss';
@import 'records/artists.scss';
@import 'records/events.scss';
@import 'records/posts.scss';
@import 'records/releases.scss';
@import 'records/store.scss';
@import 'records/about.scss';

body {
  background-color: $color-buttery-white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.text-block {
  line-height: 30px;

  strong {
    font-weight: normal;
  }

  a {
    font-weight: lighter;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

section {
  padding: 0 4% 100px;

  &.narrower {
    padding: 0 150px 100px;
  }
}

.moonlee-logo {
  background: image-url('base/moonlee-logo.svg') no-repeat;
  text-indent: -9999px;
}

.content {
  background-color: $color-buttery-white;
}

.section-heading {
  position: relative;

  .section-title {
    color: $color-limed-spruce;
    padding: 75px 0;
    text-align: center;

    &.section-title-page {
      padding: 150px 0 75px;
      // TODO: need design
    }
  }
}

.page-footer {
  background-color: $color-gold;

  .social-boxes {
    padding-bottom: 70px;
  }

  .footer-links {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.hvr-glow:active, .hvr-glow:focus, .hvr-glow:hover {
  box-shadow: 0 0 8px $color-limed-spruce !important;
}

@include respond-to(small) {
  // TODO: only on small
}

@include respond-to(medium) {
  // TODO: only on medium
}

@include respond-to(large) {
  // TODO: only on large
}
