/*
*= require_self
*= require normalize-css/normalize
*= require hover.css/css/hover-min
*= require cookies_eu
*/
@import 'base/mixins.scss';
@import 'base/variables.scss';
@import 'base/globals.scss';
@import 'base/grids.scss';
@import 'components/slider.scss';
@import 'components/newsletter.scss';
@import 'components/social.scss';
@import 'components/cover_header.scss';
@import 'components/custom_header.scss';
@import 'components/pagination.scss';

body {
  background-color: $color-buttery-white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  overflow-x: hidden;
  position: relative;
}

.page-section {
  padding: 0 4% 70px;

  &.narrower {
    padding: 30px 11% 100px;
  }
}

.text-block {
  line-height: 30px;

  strong {
    font-weight: normal;
  }

  a {
    font-weight: lighter;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 100%;
  }

  iframe {
    height: 400px;
    width: 100%;
  }
}

.moonlee-logo {
  background: image-url('base/moonlee-logo.svg') no-repeat;
  text-indent: -9999px;
}

.content {
  background-color: $color-buttery-white;
}

.section-heading {
  position: relative;
  text-align: center;
}

.section-title {
  color: $color-limed-spruce;
  padding: 70px 0;
  text-align: center;
}

.page-footer {
  background-color: $color-gold;

  .social-boxes {
    padding-bottom: 70px;
  }

  .footer-links {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.hvr-glow:active,
.hvr-glow:focus,
.hvr-glow:hover {
  box-shadow: 0 0 8px $color-limed-spruce !important;
}

.cookies-eu {
  background: $color-buttery-white !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  bottom: 10px !important;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
  margin: 0 11%;
}

.cookies-eu-ok {
  background-color: $color-gold !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: $color-black !important;
  margin-top: -4px;
  vertical-align: middle;
}

@import 'records/_header.scss';
@import 'records/_footer.scss';
@import 'records/artists.scss';
@import 'records/events.scss';
@import 'records/posts.scss';
@import 'records/releases.scss';
@import 'records/store.scss';
@import 'records/about.scss';

@include respond-to(small) {
  .page-section {
    padding: 0 4%;

    &.narrower {
      padding: 0 4% 100px;
    }
  }

  .section-title {
    padding: 25px 0;
  }
}
