.page-footer {
  .footer-links {
    text-align: center;

    .brand-info {
      @include vertical-align(-10.5px);
      float: left;
      font-size: 18px;
      line-height: 21px;
    }

    .moonlee-icon {
      @include vertical-align(-5px);
      background: image-url('base/moonlee-minimal.svg') no-repeat;
      background-size: 30px 30px;
      display: none;
      height: 30px;
      text-indent: -9999px;
      width: 30px;
    }

    .social-media-links {
      @include vertical-align(-6px);
      float: right;
      font-size: 16px;

      ul {
        li {
          display: inline;
          margin-left: 10px;

          a:hover {
            color: $color-buttery-white;
          }
        }
      }
    }
  }
}

@include respond-to(small) {
  .page-footer {
    .footer-links {
      .brand-info {
        float: none;
      }

      .social-media-links {
        float: none;
        margin-top: 20px;
      }
    }
  }

  .page-footer {
    .footer-links {
      .moonlee-icon {
        display: inline-block;
      }
    }
  }
}
