.page-footer {

  .social-boxes {

    .social-box {
      display: block;
      float: left;
      height: 400px;
      margin-right: 2%;
      overflow: hidden;
      width: 32%;

      &:last-of-type {
        margin-right: 0;
      }

      .small-box {
        float: left;
        height: 47%;
        margin-bottom: 6%;
        margin-right: 6%;
        position: relative;
        width: 47%;

        &:nth-of-type(2n+2) {
          margin-right: 0;
        }

        &:nth-of-type(n+3) {
          margin-bottom: 0;
        }

        &:hover .icon-yellow-link {
          color: $color-white;
        }
      }

      .social-content {
        background: no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
      }

      .social-type {
        bottom: 10px;
        left: 10px;
        position: absolute;
        z-index: 10;
      }
    }
  }

  .footer-links {
    border-top: 10px solid $color-white;
    display: table;

    div {
      display: table-cell;
      width: 20%;

      .moonlee-logo-footer {
        background-size: 100px 100%;
        height: 100px;
        width: 100px;
        z-index: 99;
      }
    }

    .links {
      ul {
        list-style: none;
        margin: 10px 0 0;
        padding: 0;
      }
    }
  }
}
