.page-header {
  padding-bottom: 74px;
  position: relative;

  .nav-container {
    background-color: $color-gorse;
    height: 74px;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
    width: 100%;
    z-index: 99;

    &.smaller {
      height: 54px;
    }

    .moonlee-logo-header {
      background-size: 150px 100%;
      height: 100%;
      left: 3%;
      position: absolute;
      top: 0;
      width: 150px;
      z-index: 99;
    }

    .navigation {
      display: block;
      font-weight: normal;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          display: inline;
          font-size: 20px;

          &:not(:last-child) {
            margin-right: 20px;
          }

          i {
            height: 24px;
            margin-right: 10px;
            margin-top: -3px;
            vertical-align: middle;
            width: 24px;
          }
        }
      }
    }

    .site-navigation {
      margin: 0 auto;
      @include vertical-align(10px);
      position: relative;

      a {
        color: $color-black;

        &:hover, &.active {
          opacity: .5;
        }
      }
    }

    .section-navigation {
      @include vertical-align(10px);
      position: absolute;
      right: 4%;

      a {
        color: $color-black;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .slider {
    top: 74px;
  }
}
