.artists-list {
  padding: 0 0 100px;

  .artist-box {
    background: no-repeat center center;
    background-size: cover;
    display: block;
    height: 500px;
    position: relative;
    width: 100%;

    .artist-name {
      bottom: 0;
      color: $color-white;
      font-weight: bold;
      left: 0;
      padding: 50px;
      position: absolute;
      text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
    }

    .artist-quote {
      bottom: 0;
      color: $color-white;
      left: 0;
      padding: 50px 50px 75px;
      position: absolute;
    }
  }
}

.artists-list-inactive {
  .section-title {
    padding: 0 0 75px;
  }

  .artist-box {
    background: no-repeat center center;
    background-size: cover;
    border: 1px solid $color-limed-spruce;
    display: block;
    height: 300px;
    position: relative;
    width: 100%;
  }

  .artist-name {
    padding: 30px 30px 50px;
  }
}

.artist-show {
  .artist-main {
    .artist-upcoming-shows {
      margin-bottom: 20px;
    }

    .artist-release {
      margin-top: 20px;
    }
  }

  .artist-side {
    .hr-style-1 {
      margin-top: 30px;
    }
  }
}

@include respond-to(small) {
  .artists-list {
    &.page-section {
      padding: 0;
    }
  }

  .artists-list-inactive {
    .section-title {
      padding: 75px 0;
    }

    .artist-name {
      padding: 30px;
    }

    .item-column {
      margin: 0;
    }
  }
}
