.artists-list {
  .artist-box {
    background: no-repeat center center;
    background-size: cover;
    display: block;
    height: 500px;
    position: relative;
    width: 100%;

    .artist-name {
      color: $color-white;
      font-weight: bold;
      left: 0;
      padding: 50px;
      position: absolute;
      top: 0;
    }

    .artist-quote {
      bottom: 0;
      color: $color-white;
      left: 0;
      padding: 50px 50px 75px;
      position: absolute;
    }
  }
}
