.posts-boxes {
  padding-bottom: 75px;
  position: relative;

  .post-box {
    float: left;
    margin-right: 5%;
    width: 30%;

    &:nth-of-type(3n+3) {
      margin-right: 0;
    }

    .post-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
    }

    .post-date {
      color: $color-limed-spruce;
      display: block;
      font-size: 15px;
      font-weight: bold;
      margin-top: 30px;
    }

    .post-title {
      color: $color-limed-spruce;
      display: block;
      font-size: 30px;
      font-weight: lighter;
      margin-top: 10px;
    }
  }
}
