.post-image {
  background-position: 50%;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  .post-with-video {
    @include vertical-align(40px);
    color: $color-white;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.post-date {
  @extend .article-identifier;
  display: block;
  margin-top: 20px;
}

.post-title {
  color: $color-limed-spruce;
  display: block;
  margin-top: 10px;
}

.posts-boxes {
  .more-posts {
    @include vertical-align(27px);
    position: absolute;
    right: 0;
  }
}

.posts-list {
  &.narrower {
    padding-top: 0;
  }

  .post-item {
    padding: 25px 0;

    &.painted {
      background-color: $color-gold;
      padding: 25px 0;
      //TODO: add better transition
      //-webkit-transition: padding 1s ease-in-out;
      //-moz-transition: padding 1s ease-in-out;
      //-o-transition: padding 1s ease-in-out;
      //transition: padding 1s ease-in-out;

      .post-body {
        &:before {
          background-image: linear-gradient(to right, $color-transparent-rgba, $color-gold);
        }
      }
    }

    .column-2-3 {
      box-sizing: border-box;
      ms-box-sizing: border-box;
      webkit-box-sizing: border-box;
      moz-box-sizing: border-box;
      padding-right: 50px;
    }

    .post-body {
      margin-right: -1em;
      margin-top: 30px;
      max-height: 176px;
      overflow: hidden;
      padding-right: 1em;
      position: relative;

      p {
        margin: 0;
      }

      &:before {
        background-image: linear-gradient(to right, $color-transparent-rgba, $color-buttery-white);
        bottom: 0;
        content: ' ';
        height: 30px;
        position: absolute;
        right: 0;
        width: 15%;
      }
    }
  }
}

.post-show {
  .post-main {
    .post-date {
      margin-top: 50px;
    }
  }

  .post-side {
    position: relative;

    .fb-page {
      background-position: center center;
      height: 500px;
      margin-bottom: 10px;
    }

    h4 {
      margin: 20px 0;
    }

    .latest-news {
      article {
        a {
          font-weight: lighter;
        }
      }
    }

    .more-posts {
      margin-top: 20px;
    }
  }
}

@include respond-to(small) {
  .posts-boxes {
    .more-posts {
      display: inline-block;
      float: none;
      position: relative;
      top: -35px;
    }
  }

  .posts-list {
    .post-item {
      .column-2-3 {
        padding-right: 0;
      }
    }
  }
}
