.release-cover {
  width: 100%;
}

.release-info {
  box-sizing: border-box;

  .release-number {
    @extend .article-identifier;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .release-artists {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
    word-wrap: break-word;
  }

  .release-title {
    margin-bottom: 20px;
  }

  .release-formats {
    font-size: 16px;

    .release-format {
      display: inline;
      margin-right: 10px;

      &.out-of-stock {
        text-decoration: line-through;
      }

      i {
        height: 24px;
        margin-right: 5px;
        margin-top: -3px;
        vertical-align: middle;
        width: 24px;
      }
    }
  }
}

.releases-list {
  padding-top: 50px;

  .release-info {
    padding-top: 30px;
  }

  .item-column {
    padding-bottom: 30px;
  }
}

.release-show {
  .release-main {
    overflow: hidden;
    padding-right: 50px;
    padding-top: 20px;

    .release-formats {
      margin-bottom: 20px;
    }
  }

  .release-side {
    float: right;
    margin-top: 385px;
    width: 380px;
  }
}

.releases-slider {
  background-color: $color-gold;
  overflow: hidden;

  .more-releases {
    @include vertical-align(27px);
    position: absolute;
    right: 0;
  }

  .release-info {
    float: left;
    padding: 30px 40px;
    width: 50%;
  }
}
